<%= link_to("Back to List", tasks_path, class: 'btn btn-secondary mb-3') %>

<div class="tasks edit">
  <h2>Edit Task</h2>

  <%= form_for(@task, html: {class: "mt-4"}) do |f| %>
    <% # url: task_path(@task), method: 'patch' %>

    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons mt-4">
      <%= f.submit("Edit Task", class: 'btn btn-primary') %>
    </div>

  <% end %>
</div>
