<%= link_to("Back to List", tasks_path, class: 'btn btn-secondary mb-3') %>

<div class="tasks new">
  <h2>Create Task</h2>

  <%= form_for(@task, html: {class: 'mt-4'}) do |f| %>
    <% # url: tasks_path, method: 'post' %>

    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons mt-4">
      <%= f.submit("Create Task", class: 'btn btn-primary') %>
    </div>

  <% end %>
</div>
